
@model ShoppingWeb.Models.ViewModel.HomeViewModel
@using ShoppingWeb.Extensions

@using Microsoft.AspNetCore.Http


@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Details";
}


<br />
<h2 class="text-info">Product Details</h2>

<form method="post">
    <div class="p-4 border rounded row">
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Products.Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Products.Name" class="form-control" readonly />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Products.ShadeColor"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Products.ShadeColor" class="form-control" readonly />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Products.Price"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Products.Price" class="form-control" readonly />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Products.ProductTypes"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Products.ProductTypes.Name" class="form-control" readonly />
                </div>
            </div>
            @*them so luong sản phẩm*@
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="CartItem.Quanlity"></label>
                </div>
                <div class="col-8">
                    @*<input asp-for="CartItem.Quanlity" class=" form-control">*@
                    <input  asp-for="CartItem.Quanlity" id="demo2" class=" form-control">

                    <input asp-for="CartItem.ProductId" class="form-control" value="@Model.Products.Id" hidden />
                    <input asp-for="CartItem.UnitPrice" class="form-control" value="@Model.Products.Price" hidden />
                </div>
            </div>
            @if (!Model.Products.SpecialTags.Name.Equals("--None--"))
            {
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Products.SpecialTags"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Products.SpecialTags.Name" class="form-control" readonly />
                    </div>
                </div>
            }
            <div class="form-group row">
                <div class="col-4">
                </div>
                <div class="col-8">
                    @{

                        List<int> arr = new List<int>();
                        bool isInBag = false;
                        List<CartItem> lstCart = HttpContextAccessor.HttpContext.Session.Get<List<CartItem>>("ssShoppingCart");
                        if (lstCart != null)
                        {
                            foreach (var i in lstCart)
                            {
                                arr.Add(i.ProductId);

                            }

                        }

                        if (arr != null && arr.Contains(Model.Products.Id))
                        {
                            isInBag = true;

                        }
                    }

                    @if (isInBag)
                    {
                        <button type="submit" value="Remove From Bag" asp-action="remove" asp-route-id="@Model.Products.Id" class="btn btn-danger form-control">Remove From Bag</button>

                    }
                    else
                    {
                        <button type="submit" value="Add to Bag" asp-route-id="@Model.Products.Id" class="btn btn-primary form-control">Add To Bag</button>
                    }
                </div>

            </div>
        </div>
        <div class="col-1">

        </div>
        <div class="col-3">
            <img src="@Model.Products.Image" width="100%" style="border-radius:5px; border:1px solid #bbb9b9;" />
            <br /><br />
            @if (Model.Products.Available)
            {
                <img src="~/images/inStock.png" width="50%" />

            }
        </div>


        <br />
        <div class="form-group">

            <a asp-action="Index" class="btn btn-success">Back to List</a>
        </div>
    </div>
</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $("input[id='demo2']").TouchSpin({
            min: 1,
            max:1000,
            stepinterval: 50,
            maxboostedstep: 10000000
        });
    </script>

    
}
